<section class="page-align" id="footer" style="margin-top: 8%;">
    <div class="container">
        <h1>Add Coupon</h1>

        <form action="/admin/AddedCoupon" method="post">

            <div class="row mb-3">
                <label for="inputText" class="col-sm-2 col-form-label">Coupn Code</label>
                <div class="col-sm-10">
                    <input type="text" name="Code" class="form-control" id="couponCode" oninput="return couponCode()">
                    <span id="couponCode-Error" style="color: red;"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputEmail" class="col-sm-2 col-form-label">Coupon Name</label>
                <div class="col-sm-10">
                    <input type="text" name="Name" class="form-control" id="couponName" oninput="return couponName()">
                    <span id="couponName-Error" style="color: red;"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Discount</label>
                <div class="col-sm-10">
                    <input type="number" name="Discounts" class="form-control" id="couponDiscount" min="1"
                        oninput="return couponDiscount()">
                    <span id="couponDiscount-Error" style="color: red;"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="inputDate" class="col-sm-2 col-form-label">Start Date</label>
                <div class="col-sm-10">
                    <input type="date" name="StartDates" class="form-control" id="couponStart"
                        oninput="return couponStartDate()">
                    <span id="couponStart-Error" style="color: red;"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputDate" class="col-sm-2 col-form-label">End Date</label>
                <div class="col-sm-10">
                    <input type="date" name="EndDates" class="form-control" id="couponEnd"
                        oninput="return couponEndDate()">
                    <span id="couponEnd-Error" style="color: red;"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Minimum Amount</label>
                <div class="col-sm-10">
                    <input type="number" name="MinimumAmounts" class="form-control" id="couponMinimum"
                        oninput="return couponMinimumAmount()">
                    <span id="couponMinimum-Error" style="color: red;"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword" class="col-sm-2 col-form-label">Maximum Amount</label>
                <div class="col-sm-10">
                    <input type="number" name="MaximumAmounts" class="form-control" id="couponMaximum"
                        oninput="return couponMaximumAmount()">
                    <span id="couponMaximum-Error" style="color: red;"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary" id="submit"
                        onclick="return handleSubmit()">Add</button>
                    <span id="couponSubmit-Error" style="color: red;"></span>
                </div>
            </div>

        </form>
    </div>
</section>
<script src="/js/validation.js"></script>
<script>


    let categoryIput = document.getElementById("couponCode");
    categoryIput.addEventListener('keypress', (event) => {
        if (event.code === "Space") {
            event.preventDefault();
        }

    })
    categoryIput = document.getElementById("couponName");
    categoryIput.addEventListener('keypress', (event) => {
        if (event.code === "Space") {
            event.preventDefault();
        }

    })
</script>