<div class="dropdown" id="footer" style="margin-top: 10%;">
    <button class="badge bg-dark dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select type Offers
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/admin/ProductOffer">Product offer</a>
      <a class="dropdown-item" href="/admin/CategoryOffer">Category offer</a>
     
    </div>
  </div>